################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/OpenCV/feature2D/.vs/feature2D/v15
/OpenCV/2Dto3D/.vs/2Dto3D/v15
/OpenCV/2D_SFM_3D/.vs/2D_SFM_3D/v15
/OpenCV/Feature2DMerge3D/.vs/Feature2DMerge3D/v15
/OpenCV/SFM/.vs/SFM/v15
/OpenCV/SFM2/.vs/SFM2/v15
